.cover {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px;
    justify-content: space-between;
    position: relative;
    row-gap: 50px;
    transition-duration: .3s;
}

.cover::-webkit-scrollbar {
    display: none;
}

.wrap-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    position: relative;
}

.logo-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.logo-wrap img {
    width: 70px;
}

.logo-wrap p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 0.5;
    margin: 0px;
}

.icon-menu-bar {
    display: flex;
    align-items: center;
    gap: 18px;
    color: white;
    padding: 8px 50px;
    border-left: 3px solid #459a7d;

}



.icon-menu-bar:hover,
.active {
    background-color: rgba(255, 255, 255, 0.10);
    cursor: pointer;
    border-left: 3px solid #ffffff;

}

.icon-menu-bar:hover i,
.active i,
.icon-menu-bar:hover span,
.active span {
    opacity: 1 !important;
    transform: translatex(-20px);

}

.icon-menu-bar i,
.icon-menu-bar-footer i {
    font-size: 20px;
    opacity: .7;
    transition: all .3s ease;
}

.icon-menu-bar span,
.icon-menu-bar-footer span {
    font-size: 16px;
    opacity: .7;
    transition: all .3s ease;
}

.icon-menu-bar-footer {
    display: flex;
    align-items: center;
    gap: 18px;
    color: white;
    opacity: .7;
    padding: 0px 50px;

}

.icon-menu-bar-footer:hover,
.active {
    color: white;
    opacity: 1;
    cursor: pointer;
}

.bg-button {
    visibility: hidden;
}

.bg-button-open {
    display: none;
}

@media (max-width:998px) {
    .logo-wrap p {
        font-size: 25px;
    }
}

@media (max-width:700px) {
    .cover {
        background-color: #459a7d;
        position: fixed;
        z-index: 2000;
        border-radius: 35px 0px 0px 35px;
        height: calc(100vh - 160px);
        left: 0;
    }

    .bg-button {
        visibility: visible;
        background-color: #459a7d;
        position: absolute;
        top: -143px;
        padding: 9px;
        right: 12px;
        border-radius: 7px;
        opacity: 1;
        cursor: pointer;
    }

    .buttonClose {
        color: white;
        font-size: 18px;
    }

    .bg-button-open {
        visibility: visible;
        background-color: #459a7d;
        position: fixed;
        top: 150px;
        padding: 9px;
        left: 0;
        border-radius: 0px 12px 12px 0px;
        opacity: 1;
        cursor: pointer;
        display: block;
        z-index: 200;
    }

    .bg-button-open .buttonClose {
        font-size: 30px;
    }

    .none {
        opacity: 0;
        pointer-events: none;
        transform: translatex(-50px);
    }

    .logo-wrap p {
        font-size: 30px;
    }

}

@media (max-width:567px) {
    .cover {
        border-radius: 0px;
        height: calc(100vh - 100px);
        overflow: visible;
    }

    .bg-button {
        right: -27px;
        top: -55px;
        border-radius: 0px 5px 5px 0px;
    }

    .bg-button i {
        background-color: #459a7d;
        width: 40px;
        height: 40px;

    }

    .bg-button i svg {
        font-size: 25px;
    }
}