.wrap-header {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

form {
    position: relative;
    height: 53px;
    width: 100%;
    
}

.searchInput {
    width: calc(100% - 50px);
    padding: 20px 0px 15px 50px;
    border-radius: 13px;
    color: black;
}
.searchInput:focus{
    outline: none;
}
.searchInput::placeholder {
    color: #858585;
    
}

.searchIcon {
    color: #858585;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
}

.microphoneIcon {
    color: #858585;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(-50%, -50%);
}

.profile-wrap {
    background-color: white;
    border-radius: 13px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 240px;
}

.profile-wrap img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 13px;
    cursor: pointer;
}

.wrap-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-wrap .wrap-text p:nth-child(1) {
    margin: 0px;
    color: #858585;
    font-size: 14px;
    line-height: 15px;
}

.profile-wrap .wrap-text p:nth-child(2) {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
}

.profile-wrap i {
    font-size: 25px;
    position: relative;
    cursor: pointer;
}

.profile-wrap i:before {
    content: '';
    position: absolute;
    background-color: rgb(255, 225, 0);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    top: 5px;
    right: 1px;
}

@media (max-width:992px) {
    .wrap-header{
        flex-direction: column-reverse;
        
    }
    .profile-wrap{
        align-self: center;
        width: 60%;
    }
}